fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic
pgvector
asyncpg

pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-google-genai
google-genai
openai
sentence-transformers
transformers

minio
httpx
python-multipart
python-dotenv